<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Node.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="Aggregator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NoSweatBudgets.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Node.Properties.Settings>
      <setting name="clear_log" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="start_open" serializeAs="String">
        <value>True</value>
      </setting>
    </Node.Properties.Settings>
    <NoSweatBudgets.Properties.Settings>
      <setting name="MySQLDatabase" serializeAs="String">
        <value>nosweatbudgets_3</value>
      </setting>
      <setting name="MySQLUsername" serializeAs="String">
        <value>nosweatbudgets_3</value>
      </setting>
      <setting name="MySQLPassword" serializeAs="String">
        <value>BntSOndN7QDpBY3eWXpG</value>
      </setting>
      <setting name="ocr" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MySQLAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="EnvelopePath" serializeAs="String">
        <value>\\AVATAR\envelopes</value>
      </setting>
      <setting name="printing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ocr_timeout" serializeAs="String">
        <value>999</value>
      </setting>
      <setting name="ocr_cli" serializeAs="String">
        <value>C:\work\c-sharp\NoSweatBudgets\Node\bin\Debug</value>
      </setting>
    </NoSweatBudgets.Properties.Settings>
    <Aggregator.Properties.Settings>
      <setting name="MySQLDatabase" serializeAs="String">
        <value>cgtag_1</value>
      </setting>
      <setting name="MySQLUsername" serializeAs="String">
        <value>cgtag_1</value>
      </setting>
      <setting name="MySQLPassword" serializeAs="String">
        <value>IYC1Y2XJpKlk5mbCu6z6</value>
      </setting>
      <setting name="MySQLAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="max_errors" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="image_retries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="image_retry_delay" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="image_post_limit" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="webroot" serializeAs="String">
        <value>C:\work\zend\cgtag_1\cgtag\cgtag\app\webstatic</value>
      </setting>
      <setting name="image_min_size" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="themoviedb_key" serializeAs="String">
        <value>2d983b21d30679926d2231ec26181528</value>
      </setting>
      <setting name="feed_log_errors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="feed_log_folder" serializeAs="String">
        <value>feeds</value>
      </setting>
    </Aggregator.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true" >
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
