using DataSources;

namespace {{NameSpace}}
{
    /// <summary>
    ///    
    /// </summary>
    public {{#Abstract}}abstract {{/Abstract}}partial class {{ClassName}} : {{BaseClass}}
    {
        // Add your custom code here.
    }
}